<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Blog Project</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- {# MEDIUM STYLE EDITOR#} -->
        <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


        <!-- {# Custom CSS#} -->
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->

        <!-- {# Fonts#} -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Css files -->
        <link rel="stylesheet" href="{% static 'css/new_style.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/cards_style.css' %}"> -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<body class='loader'>


  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">InCampus</label>
        <ul>
          <li><a class="active" href="{% url 'post_list' %}" style="text-decoration: none;">Home</a></li>
          <li><a href="{% url 'about'%}" style="text-decoration: none;">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'post_new' %}" style="text-decoration: none;">New Post</a></li>
          <li><a href="{% url 'post_draft_list' %}" style="text-decoration: none;">Drafts</a></li>
          <li><a href="{% url 'logout' %}" style="text-decoration: none;">Logout</a></li>
          <li>
            <a style="text-decoration: none;">Welcome: {{ user.username }}</a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}" style="text-decoration: none;" ><span class="glyphicon glyphicon-user"></span></a></li>
          {% endif %}
        </ul>
</nav>

  {# The actual blog posts#}
  <section>
        <div class="content container">
            <div class="row">
                <div class="col-md-8" style="width: 100%;">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}
                  </div>
                </div>
            </div>
        </div>
</section>

<!-- {# SCRIPTS#} -->

<!-- <script type="text/javascript" src="{% static 'js/blog.js' %}"></script> -->
<!-- FOOTER -->
<footer>
      <div class="main-content">
        <div class="left box">
          <h2>About us</h2>
<div class="content"><p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <div class="social">
    <a href="#"><span class="fab fa-facebook-f"></span></a>
    <a href="#"><span class="fab fa-twitter"></span></a>
    <a href="#"><span class="fab fa-instagram"></span></a>
    <a href="#"><span class="fab fa-youtube"></span></a>
  </div>
</div>
</div>
<div class="center box">
          <h2>Address</h2>
<div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">India, Delhi</span>
            </div>
<div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+91-7838980506</span>
            </div>
<div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">incampus@gmail.com</span>
            </div>
</div>
</div>
<div class="right box">
<h2>Contact us</h2>
<div class="content">
            <form action="#">
              <div class="email">
                <div class="text">Email *</div>
<input type="email" required>
</div>
<div class="msg">
<div class="text">Message *</div>
<textarea id=".msgForm" rows="2" cols="25" required></textarea> <!-- changeit name to textarea -->

<br />
<div class="bton">
<button type="submit">Send</button>
</div>
<div class="bottom">
<center>
          <span class="credit">Created By <a href="https://incampus.me">InCampus</a> | </span>
          <span class="far fa-copyright"></span> 2020 All rights reserved.
        </center>
</div>
</div>
</div>
</div>
</div>
</footer>

</body>
</html>
