{% extends 'basic_app/base.html' %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}

    <div class="cards">
      <div class="card">
        <img class="card__image" src="{{ post.blog_pic.url }}" alt="">
        <div class="card__content">
          <p>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
          </p>
          <p>
            {{ post.text|safe|linebreaksbr }}
          </p>
        </div>
        <div class="card__info">
          <div>
            <i class="material-icons">{{ post.published_date|date:"D M Y"}}</i>310
          </div>
          <div>
            <a href="{% url 'post_detail' pk=post.pk %}" class="card__link">Comments: {{ post.approve_comments.count }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- break -->

        <!-- <div class="post">
            <img src="{{ post.blog_pic.url }}" width="240">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div> -->
    {% endfor %}
</div>
{% endblock %}
